@font-face {
    font-family: vazir;
    src: url(./Vazir-Code.woff2) format(woff2);
    font-weight: normal;
}

.back {
    font-family: vazir;
    background-color: burlywood;
    height: 45px;
}

.back p {
    padding: 10px;
    background-color: darkolivegreen;
    font: 100 15px/1.8 "vazir";
    color:aqua;
    word-spacing: normal;
}

.h1 {
    padding-right: 10px;
    color: blueviolet;
    text-decoration: underline blue 2px;
    word-spacing: -5px;
    letter-spacing: -1px;
}